.publishedBtn{
    border: 1px solid black;
    }
    
.unpublishedBtn{
        border: 1px solid black;
    }
.archiveBtn{
        border: 1px solid black;
    }
.publisharchiveBtn{
        border: 1px solid black;
    }
.unpublisharchiveBtn{
        border: 1px solid black;
    }

.latest100Btn{
    border: 1px solid black;
}